
<head>
    <link href="css/transacciones1.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Alertas</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Lista de alertas generadas
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered ui celled table"  id="dataTables-example" >
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Timestamp</th>
                                            <th>Usuario</th>
                                            <th>Casuistica</th>
                                            <th>Entidad</th>
                                            <th>Sistema</th>
                                            <th>Criticidad</th>
                                            <!--
                                            <th>Bloque</th>
                                            <th>Estado</th>
                                            -->
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyjs">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Reg to Table -->
    <script src="/js/alertas.js"></script>
    <!-- End -->
</body>
</html>