<head>
    <!-- Custom CSS -->
    <link href="css/alertas.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet"> 
</head>

<body>
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="Titulo"><h1>Casos</h1></div>
            <hr>
            </div>
            <div class="row">
                <div class="Menu">
                    <div class="col-lg-3 MenuBar1">
                        <div>Alertas en funcionamiento <h1>0</h1></div>
                    </div>
                    <div class="col-lg-3 MenuBar1">
                        <div>Alertas creadas <h1>0</h1></div>
                    </div>
                    <div class="col-lg-3 MenuBar1">
                        <div>Alertas en proceso de modificacion <h1>0</h1></div>
                    </div>
                    <div class="col-lg-3 MenuBar2">
                        <div class="divActualizar">
                            <i class="fa-solid fa-arrows-rotate" style="color: #84d2e1;"></i>
                            <div class="divTextoAct">Actualizar</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 crearAlerta">
                    <div class="divcreacion">
                        <i class="fa-solid fa-plus iconobusqueda" style="color: #27eb00;"></i>
                        <div class="creacionTexto">Crear alerta</div>
                    </div>
                </div>
                <div class="col-lg-3 classSeveridad">
                    <select class="optionseveridad">
                        <option value="Todo">Severidad</option>
                        <option value="bajo"><i class="fa-solid fa-circle"  style="color: #52e91c;"></i>Bajo</option>
                        <option value="media"><i class="fa-solid fa-circle" style="color: #e9cf2b;"></i>Medio</option>
                        <option value="alto"><i class="fa-solid fa-circle" style="color: #f57724;"></i>Alto</option>
                        <option value="critico"><i class="fa-solid fa-circle" style="color: #eb1405;"></i>Crítico</option>
                    </select>
                </div>
                <div class="col-lg-3 classEstado">
                    <select class="optionestado">
                        <option value="estado">Estados</option>
                        <option value="abierto">En funcionamiento</option>
                        <option value="progreso">En Progreso</option>
                        <option value="deshabilitado">Deshabilitado</option>
                    </select>
                </div>
                <div class="col-lg-3 classEtiqueta">
                    <select class="optionetiquetas">
                        <option value="etiqueta">Etiquetas</option>
                        <option value="abierto">En funcionamiento</option>
                        <option value="progreso">En Progreso</option>
                        <option value="deshabilitado">Deshabilitado</option>
                    </select>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="table-responsive">
                    <table class="ui celled table display" style="width:100%" id="tablaAlertas">
                        <thead class="thead">
                            <tr>
                                <th>Nombre</th>
                                <th>Etiquetas</th>
                                <th>Comentarios</th>
                                <th>Creado en</th>
                                <th>Estado</th>
                                <th>Severidad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbodycontent">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/casos.js"></script>
</body>