<head>
    <!-- Custom CSS -->
    <link href="css/reglas.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet"> 
</head>

<body>
    <div id="loading" class="loading">Cargando...</div> 
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-4"><div class="Titulo"><h1>Reglas</h1></div></div>
                <div class="col-lg-4"><div class="import-rules"><i class="fa-solid fa-file-import" style="color: #fcfcfc;"></i>&nbspImportar reglas</div></div>
                <div class="col-lg-4"><div class="create-rules" id="create-rules-id"><i class="fa-solid fa-plus" style="color: #fafafa;"></i>&nbspCrear regla</div></div>
                <dialog id="modal">
                    <h2>Crear nueva regla</h2>
                    <p>Fuente de datos</p>
                    <div class="ListaFuente" id="idListFuente">
                    </div>
                    <p>Acerca de la regla</p>
                    <div class="divNombreRegla">
                        <input id="idNombreRegla" type="text" class="clNombreRegla" placeholder="Ingrese nombre de la regla" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                     <p>Descripcion</p>
                    <div class="textArea">
                        <textarea class="cltextArea" aria-label="With textarea" id="textArea"></textarea>
                    </div>
                    <p>Severidad por defecto</p>
                    <div class="classSever">
                        <select id="idSev" class="listaSeveridad">
                            <option value="baja">Baja</option>
                            <option value="media">Media</option>
                            <option value="alta">Alta</option>
                            <option value="severa">Severa</option>
                        </select>
                    </div>
                    <p>Puntuacion de riesgo</p>
                    <div class="prog">
                    <input type="range" min="0" max="100" step="20" onchange="showRangeValue(this.value)">
                    </div>
                    <p id="rangeValue"></p>
                    <p>Programacion</p>
                    <div class="Programacion">
                        <input type="number" name="" id="">
                        <select id="Periodo" class="listaPeriodo">
                            <option value="segundo">Segundo</option>
                            <option value="minuto">Minuto</option>
                            <option value="hora">Hora</option>
                        </select>
                    </div>
                    <div class="Boton">
                        <button class="btn btn-primary" id="btn-cerrar-modal">Cerrar</button>
                        <button class="btn btn-primary" id="btn-guardar-modal">Guardar</button>
                    </div>
                </dialog>
            </div>
            <div class="row">
                <div class="reglas">
                    <div class="col-lg-6 sub-reglas-0"><div class="sub-reglas">Reglas</div></div>
                    <div class="col-lg-6 sub-mon-reglas-0"><div class="sub-mon-reglas">Monitoreo de Reglas</div></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="menu">
                    <div class="col-lg-4 busqueda">
                        <input type="search" id="example_filter" class="form-control dataTables_filter" placeholder="Ingrese nombre de regla" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button"><i class="fa-solid fa-magnifying-glass" style="color: #0a5ae6;"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-4 etiqueta">Etiqueta</div>
                    <div class="col-lg-4 personalizadas">Reglas personalizadas</div>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-rules">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Regla</th>
                            <th scope="col">Riesgo</th>
                            <th scope="col">Severidad</th>
                            <th scope="col">Ultima ejecucion</th>
                            <th scope="col">Ultima respuesta</th>
                            <th scope="col">Ultima actualizacion</th>
                            <th scope="col">Version</th>
                            <th scope="col">Disponible</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="showrules">
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
      
<script src="/js/reglas.js"></script>
</body>