
/** INTRODUCCION **/
 .divPuntero{
    cursor: pointer;
}
.introd{
    padding: 0px;
}

.introduccion {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.parrafo { 
    margin-top: 5px;
    margin-bottom: 5px;
}

.hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.h1 {
    margin-bottom: 5px;
}
/** FIN INTRODUCCION **/


/** CONFIGURACIONES **/
.configuraciones {
    display: flex;
    justify-content: flex-end;
    margin-top: 45px;

}

.configuraciones .h3 {
    margin-left: auto;
  }

.configuraciones .h3:hover {
    text-decoration: underline;
  }
  

.h3 {
    font-size: 16px;
    color:#3374e6;  
    cursor: pointer;
  }
/** FIN CONFIGURACIONES **/





#DataSeleccionada{
    height: 230px;
    overflow-y: auto;
    white-space: nowrap;
}

#DivCamposDisponibles{
    border: 0.1px solid rgb(175, 175, 175);
    border-radius: 5px;
}

#DivCamposSeleccionados{
    border: 0.1px solid rgb(175, 175, 175);
    border-radius: 5px;  
}

#DataDisponible{
    height: 230px;
    overflow-y: auto;
    white-space: nowrap;
}

.DivDisponible{
    display: flex;
    justify-content: space-between;
}

.DivSeleccionados{
    display: flex;
    justify-content: space-between;
}

.DivDisponible2,
.ItemIcono {
    display: inline-block;
    height:  30px;
    margin-right: 7px;
    margin-left: 10px;
}

.DivSeleccionados2,
.ItemIcono {
    display: inline-block;
    height: 30px;
    margin-right: 7px;
    margin-left: 10px;
}

.DivDisponible:hover{
    background: rgb(122, 189, 238);
    cursor: pointer;
}

.ItemIcono{
    color: #3374e6;
  }
  
.ItemLista{
    list-style-type: none;
}

.DivSeleccionados:hover{
    background: rgb(122, 189, 238);
    cursor: pointer;
}

.IconCampoSelec,
.TituloCampoSelec {
    display: inline-block;
    margin-bottom: 5px;
}

.IconCampoDisp,
.TituloCampoDisp {
    display: inline-block;
    margin-bottom: 5px;
}

.MostrarData {
    display: inline-block;
    border-collapse: collapse;
    margin: 5px 0;
    font-family: Helvetica, Arial, sans-serif;
    min-width: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

th {
    background-color: rgb(158, 165, 165);
    color: #ffffff;
    text-align: left;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}


td {
    font-size: 14px;
}

#AllDataSelec {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 500px;
    white-space: nowrap;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 35px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.buscador {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
}

.itemX{
    color: red;
}

.itemCruz{
    color: azul;
}

.divActualizar{
    margin-top: 10px;
    width: 130px;
    background-color: #3374e6;
    border-radius: 3px;
    font-size: 16px;
    color: white;
    margin-left: 320px;
    height: 35px;

}

.iconRefresh, .divTextoAct{
    display: inline-block;
    margin-top: 7px;
    margin-left: 10px;
}


.divCalender {
    margin-top: 10px;
    border: 0.5px solid black;
    border-radius: 3px;
    width: 320px;
    margin-left: 300px;
    height: 35px;
}


.spanIcon, .divFecha {
    display: inline-block;
}

.divFecha {
    margin-left: 50px;
}

.divSave{
    margin-top: 10px;
    width: 130px;
    background-color: #3374e6;
    border-radius: 3px;
    font-size: 16px;
    color: white;
    margin-left: 150px;
    height: 35px;
    cursor: pointer;
}

.iconSave, .divTextoAct {
    margin-left: 15px;
}


.classbuscador{
    margin-left: 0px;
    padding: 0px;
}

/** MODAL **/
dialog {
    padding:8px;
    border-radius: 5px;
}

#modal{
    border: 2px;
    width:  455px;
    height: 500px;
}

dialog h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#textArea{
    margin-top: 5px;
    height: 200px;
}

p{
    margin-top: 3px;
}

#modal::backdrop{
    background-color: rgba(0, 0, 0, .55);
}

#btn-guardar-modal {
    margin-left: 290px;
}
  
/** FIN MODAL **/

/** MODAL **/
dialog {
    padding:8px;
    border-radius: 5px;
}

#modal-1{
    border: 2px;
    width: 690px;
    height: 500px;
}

dialog h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#textArea{
    margin-top: 5px;
    height: 200px;
}

p{
    margin-top: 3px;
}

#modal::backdrop{
    background-color: rgba(0, 0, 0, .55);
}

#btn-cerrar-modal-1 {
    margin-left: 300px;
}
  
/** FIN MODAL **/


/** BUSQUEDA **/


.input-group-1 {
    display: flex;
    align-items: center;
  }
  
  .input-group-1 .form-control {
    flex-grow: 1;
  }
  
  .input-group-1 .input-group-append {
    margin-left: -1px;
  }
  
  
/** FIN BUSQUEDA **/


/** TABLA **/

.container {
    width: auto;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

th {
    color:black;

}

#example td,
#example th {
    border: none; /* Eliminar bordes de las celdas */
    padding: 8px; /* Ajustar el espacio interno de las celdas */
  }
  
#example_wrapper .dataTables_wrapper .dataTables_scroll .dataTables_scrollBody table {
    border: none; /* Eliminar bordes de la tabla */
  }

  .dt-center {
    text-align: center;
  }

/** FIN TABLA **/
