.Titulo{
    margin-top: 15px;
}

#modal {
  border-radius: 4px;
}


.reglas {
    display: flex;
    margin-top: 15px;
    margin-bottom: 0px;
}

.import-rules, .create-rules {
    margin-top: 20px;
    background-color: rgb(48, 164, 240);
    width: 120px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
}

.import-rules {
    margin-left: 520px;
}

.create-rules {
    margin-left: 240px;
}


.sub-reglas-0 {
    width: 80px;
}

.sub-mon-reglas-0{
    width: 200px;
}

.sub-reglas, .sub-mon-reglas {

    cursor: pointer;
}

.sub-reglas:hover, .sub-mon-reglas:hover {
    text-decoration: underline;
    color: rgb(11, 115, 235);
}


.table-rules {
    font-size: 14px
}

/* CSS */
.table-rules {
    border-collapse: collapse;
  }
  
  .table-rules th,
  .table-rules td {
    border: none;
  }
  
  .table-rules th:not(:last-child),
  .table-rules td:not(:last-child) {
    border-right: none;
  }

.menu {
    margin-bottom: 50px;
  }

.busqueda {
    padding: 0px;
    display: flex;
    align-items: center;
  }
  
.busqueda input {
    margin-right: 10px;

  }

.etiqueta {
    text-align: right;
    margin-left: 250px;
}

.personalizadas {
    text-align: right;
    width: 150px;
    padding: 0px;
  }

  .etiqueta:hover, .personalizadas:hover {
    margin-bottom: 10px;
    color: #3374e6;
    cursor: pointer;
    text-decoration: underline;
  }

  .search-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
  }
  
  .search-container input {
    margin-right: 5px;
  }
  
  .search-container i {
    margin-left: 5px;
  }
  
  .create-rules:hover{
    cursor: pointer;
  }

  .listaDesplegable{
    width: 200px;
    margin-bottom: 10px;
  }

  .clNombreRegla{
    margin-bottom: 20px;
    width:300px;

  }

  .cltextArea{
    width: 600px;
    height: 200px;
  }

  .listaSeveridad{
    margin-bottom: 10px;
  }

  .Programacion {
    display: flex; /* Muestra los elementos en línea */
    width: 100px;
    margin-bottom: 10px;
  }
  
  .Programacion input,
  .Programacion select {
    flex: 1; /* Hace que los elementos ocupen el mismo espacio */
    padding: 5px; /* Añade un espacio interno alrededor de los elementos */
    border: 1px solid #ccc; /* Añade un borde alrededor de los elementos */
    border-radius: 4px; /* Redondea las esquinas del borde */
  }
  
  .Programacion select {
    margin-left: -1px; /* Ajusta el margen izquierdo para evitar separación entre el input y el select */
  }
  
  .Boton {
    display: flex;
    justify-content: space-between; /* Crea un espacio entre los botones */
  }
  
  .Boton button {
    margin: 10px; /* Agrega un margen entre los botones y el contenedor */
  }
  
  #btn-cerrar-modal {
    margin-right: auto; /* Coloca el botón de cerrar en la esquina superior izquierda */
    margin-left: 0px
  }
  
  #btn-guardar-modal {
    margin-left: auto; /* Coloca el botón de guardar en la esquina superior derecha */
    margin-right: 0px;
  }
  
  .ListaFuente{
    margin-bottom: 10px;
  }
